@page "/racesadmin"
@using Oversteer.Models.Racing

@layout Pages.Admin.Shared.AdminLayout
@using BlazorTable

<div class="card mb-3">
    <div class="card-header">
        <div class="row clearfix">
            <div class="col-sm-10">
                <h4>Races</h4>
            </div>
            <div class="col-sm-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button @onclick="() => Upsert(true)" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">

            @if (ShowLoader == true)
            {
                <p class="placeholder-glow">
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-12"></span>
                </p>
            }
            else
            {
                <div class="col-md-12 dataTable">
                    <Table TableItem="Race" Items="Races" PageSize="10" RowClickAction="OpenRow" MoreOptionsClickAction="ShowOptions" ShowSearchBar="true">
                        <Column TableItem="Race" Title="Name" Field="@(x => x.Name)" Sortable="true" Filterable="true" Width="10%" DefaultSortColumn="true" />
                        <Column TableItem="Race" Title="Racesim" Field="@(x => x.RaceSim.Name)" Sortable="true" Filterable="true" Width="10%" />
                        @*<Column TableItem="Race" Title="Start" Field="@(x => x.StartTime.ToString())" Sortable="true" Filterable="true" Width="10%" />*@
                        <Column TableItem="Race" Title="Track" Field="@(x => x.Track.Name)" Sortable="true" Filterable="true" Width="10%" />
                        <Column TableItem="Race" Title="Championship" Field="@(x => x.Championship.Name)" Sortable="true" Filterable="true" Width="10%" />
                        <Column TableItem="Race" Field="@(x => x.Id)" ShowMoreOptionsButton=true Sortable="true" Filterable="true" Width="2%" />
                        <Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true" AlwaysShow />
                    </Table>
                </div>
            }

        </div>
    </div>
    <div class="card-footer small text-muted">Total races: @Races.Count</div>
</div>


@if (ShowDialog)
{
    <div class="modal fade show d-block" tabindex="-1" style="z-index:10">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@SelectedRace.Name options</h5>
                    <button type="button" class="close" @onclick="() => ShowDialog = false" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col" style="padding: 10px;">

                        <button @onclick="() => Upsert(false)" class="btn btn-link" style="color:black"> Edit</button><br />
                        <button @onclick="() => Remove()" class="btn btn-link" style="color:black"> Remove</button><br />
                        <button @onclick="() => UploadResult()" class="btn btn-link" style="color:black"> Upload result files</button><br />

                    </div>
                    <a class="btn btn-outline-primary" @onclick="() => ShowDialog = false">Close</a>
                </div>
            </div>
        </div>
    </div>
}