@using Microsoft.AspNetCore.Components.Forms

<fieldset class="group-border">
    <legend class="group-border">
        Details
    </legend>

    <div class="form-group row">
        <label class="col-form-label">Name</label>
        <InputText id="comment" class="form-control" @bind-Value="@Race.Name" @bind-Value:after="@NameEntered" placeholder="Enter a name"></InputText>
        <ValidationMessage For="@(() => Race.Name)" />
    </div>

    <div class="form-group row">
        <label class="col-form-label">Lobby Name</label>
        <InputText id="comment" class="form-control" @bind-Value="@Race.LobbyName" placeholder="Enter a name"></InputText>
        <ValidationMessage For="@(() => Race.LobbyName)" />
    </div>

    <div class="form-group row date">
        <label class="col-form-label">Race start time</label>
        <InputDate Type="InputDateType.DateTimeLocal" id="createdDate" class="form-control" @bind-Value="@Race.StartTime"></InputDate>
        <ValidationMessage For="(()=> Race.StartTime)"></ValidationMessage>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>

    <div class="form-group row">
        <label class="col-form-label">Password</label>
        <InputText type="password" class="form-control" @bind-Value="@Race.Password" placeholder="Enter a password (optional)"></InputText>
    </div>

    <div class="form-group row">
        <label class="col-form-label">URL of live stream</label>
        <InputText type="password" class="form-control" @bind-Value="@Race.VideoLink" placeholder="Enter a password (optional)"></InputText>
    </div>

    <div class="form-group row">
        <label class="col-form-label">Championship</label>
        <InputSelect class="form-select" @bind-Value="Race.ChampionshipId" @bind-Value:after="@ChampionshipSelected" disabled="@IsChampionShipRace">
            <option value="00000000-0000-0000-0000-000000000000" selected>--select--</option>
            @foreach (var championship in Championships)
            {
                <option value="@championship.Id">@championship.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Race.ChampionshipId)" />
    </div>

    @if (Race != null && Race.ChampionshipId != Guid.Empty)
    {
        <div class="form-group row">
            <label class="col-form-label">Championship round</label>
            <div class="form-check form-switch">
                <InputCheckbox class="form-check-input" style="transform: scale(1.2);" type="checkbox" role="switch" @bind-Value="@Race.ChampionshipRound" />
                <label class="form-check-label" style="padding-left: 10px;"></label>
            </div>
        </div>
    }

    <div class="form-group row">
        <label class="col-form-label">Race sim</label>
        <InputSelect class="form-select" @bind-Value="SelectedRaceSimId" @bind-Value:after="RaceSimSelected">
            <option value="00000000-0000-0000-0000-000000000000" selected>--select--</option>
            @foreach (var sim in RaceSims)
            {
                <option value="@sim.Id">@sim.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => SelectedRaceSimId)" />
    </div>

    <div class="form-group row">
        <label class="col-form-label">Track</label>
        <InputSelect class="form-select" @bind-Value="Race.TrackId" @bind-Value:after="@TrackSelected">
            <option value="00000000-0000-0000-0000-000000000000" selected>--select--</option>
            @foreach (var track in Tracks)
            {
                <option value="@track.Id">@track.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Race.TrackId)" />
    </div>

    @if (Race.RaceSim != null && Race.RaceSim.DoesSimSupportTrackLayouts)
    {
        <div class="form-group row">
            <label class="col-form-label">Track layout</label>
            <InputSelect class="form-select" @bind-Value="Race.TrackLayoutId">
                <option value="00000000-0000-0000-0000-000000000000" selected>--select--</option>
                @foreach (var trackLayout in TrackLayouts)
                {
                    <option value="@trackLayout.Id">@trackLayout.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => Race.TrackLayoutId)" />
        </div>
    }

</fieldset>