@using Oversteer.Models

@if (ShowLoader)
{
    <div class="loader"></div>
}

@if (ShowDialog)
{
    <div class="modal fade show d-block" tabindex="0" role="dialog" style="z-index:11">
        <div class="modal-dialog modal-dialog-scrollable modal-l" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-9">
                            <h5 class="modal-title">
                                @if (string.IsNullOrEmpty(Category.Name))
                                {
                                    <text>Add new category</text>
                                }
                                else
                                {
                                    <text>Edit @Category.Name</text>
                                }
                            </h5>
                        </div>
                    </div>
                    <button type="button" class="close" @onclick="@Close" data-dimdiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <EditForm Model="@Category" OnValidSubmit="@HandleValidSubmit">

                        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
                        <div class="form-group row">
                            <label class="col-form-label">Name</label>
                            <InputText id="comment" class="form-control" @bind-Value="@Category.Name" placeholder="Enter a name"></InputText>
                            <ValidationMessage For="@(() => Category.Name)" />
                        </div>

                        <DataAnnotationsValidator />
                        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-outline-primary" @onclick="@Remove">Remove</a>
                        <a class="btn btn-outline-primary" @onclick="@Close">Close</a>

                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}
