@page "/plans"
@layout Pages.Admin.Shared.AdminLayout
@using BlazorTable
@using Oversteer.Models

@if (ShowLoader == true)
{
    <div class="loader"></div>
}

<div class="card mb-3">
    <div class="card-header">
        <div class="row clearfix">
            <div class="col-sm-10">
                <h4>Plans</h4>
            </div>
            <div class="col-sm-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button @onclick="() => UpsertPlan(true)" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
                    <_UpsertPlan @ref="_UpsertPlan" CloseEventCallback="@UpsertPlanDialog_OnDialogClose"></_UpsertPlan>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 dataTable">
                <Table TableItem="Plan" Items="Plans" PageSize="10" RowClickAction="ShowOptions" ShowSearchBar="true">
                    <Column TableItem="Plan" Title="Name" Field="@(x => x.Name)" Sortable="true" Filterable="true" Width="10%" DefaultSortColumn="true" />
                    <Column TableItem="Plan" Title="" Field="@(x => x.Name)" Sortable="false" Filterable="false" Width="10%">
                        <Template>
                            <a class="btn btn-primary">
                                <span class="fas fa-ellipsis-v"></span>
                            </a>
                        </Template>
                    </Column>
                    <Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true" AlwaysShow />
                </Table>
            </div>
        </div>
    </div>
    <div class="card-footer small text-muted">Total Plans: @Plans.Count</div>
</div>


@if (ShowDialog)
{
    <div class="modal fade show d-block" tabindex="-1" style="z-index:10">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@SelectedPlan.Name options</h5>
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col" style="padding: 10px;">

                        <button @onclick="() => UpsertPlan(false)" class="btn btn-link" style="color:black"> Edit</button><br />
                        <button @onclick="() => RemovePlan()" class="btn btn-link" style="color:black"> Remove</button><br />

                    </div>
                    <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                </div>
            </div>
        </div>
    </div>
}